body {
    background-color: #382626;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

canvas {
    background-color: #ef8d8d;
    border: 1px solid #fff;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.container ul {
    list-style-type: disc;
    padding: 0;
    margin: 0;
}

.container ul li {
    display: block;
    /* Use block display for better stacking on small screens */
    margin: 10px 0;
}

@media (max-width: 600px) {
    canvas {
        width: 100%;
        height: auto;
        margin-bottom: 200px;
        /* Maintain aspect ratio */
    }

    .container {
        width: 90%;
    }

    .container ul li {
        font-size: 16px;
        /* Adjust font size for better readability */
    }


    button {
        margin-bottom: 100px;
        font-size: 20px;
        padding: 8px 8px;
        cursor: pointer;
        position: relative;
    }


        /* #left{} */
        #down{
            top: 50px;
        }
        #up{
            right: 45px;;
        }
        #right{
            right: 45px;;
        }

        .start{
            bottom: 50px;
            right: 145px;;
        }
}